html{
    height: 100%;
}
body{
    height: 100%;
}


@media (max-width: 1199px) {
    .CTM .navbar-header {
        float: none;
    }
	.CTM .navbar-toggle {
        display: block;
    }
	.CTM .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
	.CTM .navbar-collapse.collapse {
        display: none!important;
    }
	.CTM .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
	.CTM .navbar-nav>li {
        float: none;
    }
	.CTM .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	.CTM .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .CTM .navbar-collapse.collapse.in { 
        display: block!important;
    }
	.CTM .collapsing {
        overflow: hidden!important;
    }
}




.CTM .container-fluid{
	padding: 0;
}
    
.CTM > .navbar{
	border-radius: 0; 	
}
.CTM .nav.navbar-nav > li > a {
   	/*line-height: 73px;*/
	padding: 0 15px;   


    /* float: left; */
    width: 100%;
    padding: 0;
	text-align: center; 
	height: 73px;   
    color: white;	
}
.CTM .navbar-inverse .navbar-nav>li>a:focus, .CTM .navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
    background-color: transparent;
}
.CTM .nav.navbar-nav > li > a .imgSubtitle > div{
    height: 40px;
    width: 40px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    background: url('../contents/CTMSprite.png');
}
.CTM .nav.navbar-nav > li > a .imgSubtitle > div .badge{
    background-color: red;
    font-size: 9px;
    position: relative;
    right: -15px;
    top: -7px;
}
.CTM .nav.navbar-nav > li > a .imgSubtitle{
	float: left;
	min-width: 148px;
	height: 60px;
	margin-top: 10px;
}
.CTM .nav.navbar-nav > li > a .imgTxt{
    margin: 0 auto;
}
.CTM .nav.navbar-nav > li > a .txt{
    float: left;
    display: table;
    height: 73px;
    text-align: left;
	padding: 10px;
}
.CTM .nav.navbar-nav > li > a .twoLines{
    display: table-cell;
    vertical-align: bottom;
    line-height: 22px;
    max-width: 75px;
}
.CTM .nav.navbar-nav > li > a .hidden-xs{
    border-right: 1px solid white;
    height: 65px;
    margin-top: 5px;
    float: right;
}

.CTM .navbar-inverse{
    background-color: #727272;
	min-height: 75px;
	height: 75px;
    z-index: 100;	
}
.CTM .container-fluid{
    height: 100%;
}
.CTM .navbar-header{
    height: 100%;	
}
.CTM .navbar-brand{
    height: 100%;
    padding: 0 15px;
    background-color: white;
}
.CTM .navbar>.container-fluid .navbar-brand{
    margin-left: 0;
}
.CTM .navbar-brand img{
	height: 73px;
}
.CTM .navbar-inverse .navbar-collapse{
	background-color: #727272;
}
.CTM .navbar-inverse .navbar-brand:focus, .CTM .navbar-inverse .navbar-brand:hover{
	background-color: white;
}
.CTM .nav.navbar-nav > li{
    /*border: 1px solid green;*/
    min-width: 150px;	
}

